PORT=5000
NODE_ENV=development

DATABASE_URL=DATABASE_URL=postgresql://postgres:root@localhost:5432/cotram

# MVola
SANDBOX_URL=https://devapi.mvola.mg
PRODUCT_URL=https://api.mvola.mg
MERCHANT_NUMBER=
CONSUMER_KEY=
CONSUMER_SECRET=

# JWT
JWT_SECRET=
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Production: https://yourdomain.com/api/auth/google/callback
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# Email (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=noreply@cotram.mg

# Session
SESSION_SECRET=

# Frontend URL (production: https://your-frontend-domain.com)
FRONTEND_URL=http://localhost:5173

# MVola
MVOLA_BASE_URL=https://devapi.mvola.mg
MVOLA_USERNAME=
MVOLA_PASSWORD=
MVOLA_MERCHANT_NUMBER=
MVOLA_COMPANY_NAME=
MVOLA_USER_LANGUAGE=FR

# Cron
CRON_SECRET=
