@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f2cb04;
  --color-dark-gray: #141414;
  --color-dark: #121417;
  --color-gray-light: #222222;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-white font-sans;
}
